@font-face {
    font-family: 'verb_lightregular';
    src: url('fonts/VerbLight-webfont.eot');
    src: url('fonts/VerbLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/VerbLight-webfont.woff') format('woff'),
         url('fonts/VerbLight-webfont.ttf') format('truetype'),
         url('fonts/VerbLight-webfont.svg#verb_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'verb_regularregular';
    src: url('fonts/VerbRegular-webfont.eot');
    src: url('fonts/VerbRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/VerbRegular-webfont.woff') format('woff'),
         url('fonts/VerbRegular-webfont.ttf') format('truetype'),
         url('fonts/VerbRegular-webfont.svg#verb_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {font: 14px/1.8em 'verb_lightregular', sans-serif; background-image: url(../images/fabric_of_squares_gray.png); color: #515151;}
/*

    PAGE CONSTANTS

*/

.clr{clear:both;}

header {background-image: url(../images/gray_jean.png); border-bottom: solid 5px #669999; padding-bottom: 3%;}

/*.name {font: 1.75em 'thirsty_roughbold_three', cursive; margin: 0 0 -2.5% 0; padding-top: 2%; padding-left: 15%;}

.name a {color: #666666;}*/

h1, h2,h3,h4,h5,h6 {font-family: 'verb_lightregular', sans-serif;}

h1, .orange {color: #FF530D;}

.orange, a {font-weight: bold;}

h3, h4, h5, h6 {/*color: #6B7702;*/ color: #FF530D;}

h3 {font-size: 20px;}

h4 {font-size: 1.25em;}

h5{margin:15px; font-size:44px; color:#000; text-shadow:1px 1px 1px #fff; text-align:center;}

li {font: 14px/1.8em 'verb_lightregular', sans-serif;}

img {border: none; height: auto; max-width: 100%;}

a {color: #6A6A61;}

a:hover {color: #6B7702;}

/*

    HOME

*/

article,time,header,footer,address,nav,section {display: block; }

article h3 {margin-bottom: 25px; }

.abstract {font-size: 1.250em; font-family: 'Noto Serif', serif; }

.intro {text-decoration: underline;}

.container { background-image: url(../images/fabric_of_squares_gray.png); margin: 25px auto 0 auto; }

.social li {display: inline-block; margin-right: 10px;}

.social li img {width: 90%;}

.copy {}
/*

    THUMBS

*/

#thumbs{width:960px; margin:10px auto 35px; text-align:center; }

#thumbs a{width:100%; max-width: 110px; height:140px; display:inline-block; position:relative; background-position:center center; background-repeat: no-repeat; }

#thumbs a:after{bottom: -120px; color: #000; content: attr(title); display: inline-block; font-size: 10px; max-width: 90px; overflow: hidden; padding: 2px 10px; position: relative; text-align: center; white-space: nowrap; }

/* The gallery overlay */

#galleryOverlay{width:100%; height:100%; position:fixed; top:0; left:0; opacity:0; z-index:100000; background-color:#222; background-color:rgba(0,0,0,0.8); overflow:hidden; display:none; -moz-transition:opacity 1s ease; -webkit-transition:opacity 1s ease; transition:opacity 1s ease; }


/* This class will trigger the animation */

#galleryOverlay.visible{opacity:1; }

#gallerySlider{height:100%; left:0; top:0; width:100%; white-space: nowrap; position:absolute; -moz-transition:left 0.4s ease; -webkit-transition:left 0.4s ease; transition:left 0.4s ease; }


#gallerySlider .placeholder{background: url("../images/preloader.gif") no-repeat center center; height: 100%; line-height: 1px; text-align: center; width:100%; display:inline-block; }

/* The before element moves the

 * image halfway from the top */

#gallerySlider .placeholder:before{content: ""; display: inline-block; height: 50%; width: 1px; margin-right:-1px; }

#gallerySlider .placeholder img{display: inline-block; max-height: 100%; max-width: 100%; vertical-align: middle; }

#gallerySlider.rightSpring{-moz-animation: rightSpring 0.3s; -webkit-animation: rightSpring 0.3s; }

#gallerySlider.leftSpring{-moz-animation: leftSpring 0.3s; -webkit-animation: leftSpring 0.3s; }

/* Firefox Keyframe Animations */

@-moz-keyframes rightSpring{
    0%{     margin-left:0px;}
    50%{    margin-left:-30px;}
    100%{   margin-left:0px;}
}

@-moz-keyframes leftSpring{
    0%{     margin-left:0px;}
    50%{    margin-left:30px;}
    100%{   margin-left:0px;}
}

/* Safari and Chrome Keyframe Animations */

@-webkit-keyframes rightSpring{
    0%{     margin-left:0px;}
    50%{    margin-left:-30px;}
    100%{   margin-left:0px;}
}

@-webkit-keyframes leftSpring{
    0%{     margin-left:0px;}
    50%{    margin-left:30px;}
    100%{   margin-left:0px;}
}

/* Arrows */
.notvisiblebutton {display: none; }

#prevArrow,#nextArrow{border:none; text-decoration:none; background:url('../images/arrows.png') no-repeat; opacity:0.5; cursor:pointer; position:absolute; width:43px; height:58px; top:50%; margin-top:-29px; -moz-transition:opacity 0.2s ease; -webkit-transition:opacity 0.2s ease; transition:opacity 0.2s ease; }

#prevArrow:hover, #nextArrow:hover{opacity:1; }

#prevArrow{background-position:left top; left:40px; }

#nextArrow{background-position:right top; right:40px; }

/*

    FOOTER

*/

.footer{background-image: url(../images/fabric_plaid.png); margin-bottom: 0; padding-top: 30px; padding-left: 50px; }
.row {margin-bottom: 0; }
ul.nine.columns.alpha.social {margin-left: 35px}

/* MEDIA QUERIES */
	@media only screen and (max-width: 1024px) {
	        #thumbs, #credit{width: auto;}
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

	@media only screen and (max-width: 479px) {
	        .footer{margin-bottom: 0; padding-top: 30px;}
	}